* {
    box-sizing: border-box;
}
body {
    font-family: Palatino, sans-serif;
    margin: 0;
}
header{
    padding: 70px;
    text-align: center;
    background-color: #76877D;
    color: #5B3000;
}
header h1 {
    font-size: 70px;
}
header p {
    font-size: 35px;
    color: #5B3000;
}
nav {
    overflow: hidden;
    background-color: white;
}
nav a {
    /* float: left; */
    font-size: 20px;
    display: inline-block;
    margin: 0;
    color: #5B3000;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
}
nav a.right {
    float: right;
}
nav a:hover {
    background-color: rgba(114, 105, 83, .5);
    color: white;
}
#quote {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding: 60px;
    color: #5B3000;
}
#top5 {
    font-size: 50px;
    color: white;
    background-color: rgba(114, 105, 83, .5);
    padding: 70px;
    text-align: center;
}
#initiallist {
    font-size: 20px;
    font-family: Palatino;
}